---
Language: Cpp
BasedOnStyle: google
ColumnLimit: 100
IndentWidth: 4
SortIncludes: true
BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: true
    AfterStruct: true
    AfterEnum: true
    AfterNamespace: true
    AfterExternBlock: true
    AfterFunction: true
    AfterCaseLabel: true
    BeforeElse: true
    AfterControlStatement: true
    BeforeCatch: true
---
Language: Proto
BasedOnStyle: Google
ColumnLimit: 100
IndentWidth: 4
SortIncludes: true
BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: true
    AfterStruct: true
    AfterEnum: true
    AfterNamespace: true
    AfterExternBlock: true
    AfterFunction: true
    AfterCaseLabel: true
    BeforeElse: true
    AfterControlStatement: true
    BeforeCatch: true